<h4>About This App</h4>

<p class="alert alert-info p-4">
    This is a <strong>SPA - Single Page Applciation.</strong>, where a SPA is a 
    javascript based client side executing UX/UI framework powered Applciation
    having only one html page. All events and data operations and UI rendering
    are handled by the underling javascript code assissted by the asynchrnous
    rest-pai communication when needed for data related operations.
</p>

<p>
    The current application is a HR management simulation tool that manages details of
    departments and its employees on a hypothetical data model.
</p>